.largeColumn{
    height: 60px;
    margin: 10px;
    padding: 20px;
    width: 95%;
    font-size: 34px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    text-align: end;
    display: block;



    color: #6e737d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.button-finish{
    text-align: end;
    height: 60px;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    background-color: brown;
}

.button-new{
    text-align: end;
    height: 60px;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    background-color: darkgreen;
}

.container-sale{
    height: 60vh;
}

.container-items{
    height: 60vh;
    overflow-y: scroll;
}

.label{
    text-align: right;
}
